@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
header {
  display: flex;
  height: 75px;
  font-family: "Kumbh Sans";
}
header {
  justify-content: space-between;
  align-items: center;
  background-color: rgb(21, 21, 21);
  color: #fff;
  padding: 10px 30px;
}
header img {
  animation: top-ressurg 0.7s ease-in;
}
header nav > ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
header li > a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  transition: 0.5s;
  animation: top-ressurg 0.7s ease-in;
}
header li > a:hover {
  color: rgb(138, 43, 226);
}

@keyframes top-ressurg {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
